*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Ample Soft Pro";
  src: local("Ample Soft Pro"), local("Ample-Soft-Pro"), url("../font/AmpleSoftPro.woff2") format("woff2"), url("../font/AmpleSoftPro.woff") format("woff"), url("../font/AmpleSoftPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("Oswald-Regular.eot");
  src: local("Oswald"), local("Oswald-Regular"), url("../font/Oswald-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Oswald-Regular.woff2") format("woff2"), url("../font/Oswald-Regular.woff") format("woff"), url("../font/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("Oswald-Bold.eot");
  src: local("Oswald"), local("Oswald"), url("../font/Oswald-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Oswald-Bold.woff2") format("woff2"), url("../font/Oswald-Bold.woff") format("woff"), url("../font/Oswald-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}
body {
  width: 100%;
  background-color: #f6f3f3;
  font-family: "Ample Soft Pro";
  font-size: 16px;
}
body h1 {
  text-align: center;
  margin: 25px 0;
  font-size: 38px;
  line-height: 99%;
}
body a {
  color: #130042;
}
body a:hover {
  color: #1680a3;
}
body .help_p {
  width: 240px;
  margin-top: 30px;
  padding: 5px 0px 5px 8px;
  border-radius: 3px;
  font-size: 13px;
  background-color: rgba(255, 231, 145, 0.5411764706);
}
body table {
  width: 100%;
  border: solid 2px #000000;
  border-collapse: collapse;
  font-size: 14px;
}
body table thead {
  background-color: #4e4f4f;
  color: #ffffff;
}
body table thead th {
  text-align: center;
  cursor: pointer;
}
body table th,
body table td {
  text-align: left;
  vertical-align: middle;
  padding: 8px;
  border: solid 2px #000000;
}
body #logInfo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  border: solid 1px rgba(213, 213, 213, 0.2784313725);
  border-radius: 9px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
body #logInfo span {
  font-size: 23px;
  font-weight: bold;
}
body #logInfo div {
  font-size: 14px;
}
body #logInfo button {
  margin-top: 8px;
  width: 80px;
  padding: 3px;
  float: right;
  border: solid 1px #b1b0b0;
  border-radius: 5px;
  font-family: "Ample Soft Pro";
  font-size: 15px;
}
body .window.error {
  background-color: #f1d9e1;
}
body .window.success {
  background-color: #f3fffc;
}
body .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 55px;
  z-index: 10;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
}
header img {
  max-width: 140px;
  padding: 10px;
}
header #header_auth__label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 15px;
  color: #ffffff;
}
header a {
  color: #faebd7;
}
header a:hover {
  color: #5ab1ce;
}

#menu {
  display: none;
  position: absolute;
  width: 400px;
  min-height: 300px;
  z-index: 8;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.91);
  color: #ffffff;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  animation-name: fadeInDown;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}
#menu .menu_content {
  display: flex;
  position: absolute;
  top: 36%;
  align-items: center;
  margin-right: 15px;
  font-size: 16px;
}
#menu .menu_content a {
  color: #ffffff;
  text-decoration: none;
}
#menu .menu_content a:hover {
  color: #e3d47f;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
#menuImage {
  cursor: pointer;
}

footer {
  height: 55px;
  width: 100%;
  z-index: 4;
  flex: 0 0 auto;
  background-color: #000000;
  color: #ffffff;
}
footer a {
  color: #faebd7;
}
footer a:hover {
  color: #5ab1ce;
}
footer .footer_company {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .footer_company__href {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  font-size: 15px;
}
footer .footer_company__href_bitrix24 {
  margin-right: 8px;
}
footer .footer_company__copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

main {
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 92%;
  flex: 1 0 auto;
  justify-content: center;
  align-self: center;
  padding: 60px 40px 0px 40px;
  background-color: #ffffff;
}
main form {
  width: 520px;
  align-self: center;
}
main form div {
  display: flex;
  max-width: 530px;
  flex-direction: row;
  margin: 15px 0 5px 0;
}
main form .hidden_label {
  margin-bottom: 10px;
}
main form textarea {
  width: 100%;
  resize: none;
  margin-top: 5px;
  padding: 6px 8px;
  border-radius: 5px;
  font-family: "Ample Soft Pro";
  font-size: 14px;
}
main form label {
  flex: 1;
}
main form select,
main form input {
  max-width: 320px;
  flex: 2;
  padding: 4px 7px;
  border: solid 1px #aaa;
  border-radius: 5px;
  font-family: "Ample Soft Pro";
  font-size: 14px;
}
main form .unitedform {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 16px;
  padding: 0px 15px 8px 15px;
  background-color: rgba(231, 231, 231, 0.5882352941);
  font-size: 14.5px;
}
main form .unitedform select2-container {
  width: 260px;
}
main form .form_description {
  font-size: 12px;
  color: #757575;
}
main form button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 25px;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: "Ample Soft Pro";
  font-size: 17px;
}
main form button:enabled {
  background-color: #000000;
  color: #ffffff;
}

#paymentForm3 {
  margin-top: -20px;
}

.select2-selection {
  font-size: 14.4px;
}

.select2-container--default {
  max-width: 120%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 27px;
}

.select2-results {
  font-size: 13px;
}
.select2-results strong {
  font-weight: bold;
}

.auth_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  padding: 15px 25px;
  border: solid 3px rgba(239, 239, 239, 0.0901960784);
  border-radius: 8px;
  background-color: rgba(203, 203, 203, 0.1882352941);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.auth_form__status {
  margin-bottom: 10px;
  font-size: 14px;
}
.auth_form form {
  transform: translate(0%, 0%);
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 530px;
}
.auth_form form h1 {
  margin: 0px 0px 10px 0px;
}
.auth_form form .checkbox_auth {
  justify-content: end;
  margin: -8px 0 -4px 0;
  font-size: 13.5px;
}
.auth_form form .checkbox_auth div input {
  flex: 0;
}
.auth_form form .checkbox_auth .checkbox_auth__label {
  margin-left: 4px;
}
.auth_form form .button_enter {
  background-color: #000000;
  color: #ffffff;
}

.wrapperError {
  padding-bottom: 100px;
  margin: auto;
}
.wrapperError img {
  width: 590px;
}
.wrapperError__text {
  margin-right: 35px;
}
.wrapperError p {
  text-align: center;
  font-size: 20px;
  line-height: 95%;
}
.wrapperError p a {
  color: #265af3;
  font-weight: bold;
}
.wrapperError p a:hover {
  color: #587ef0;
}

@media (max-width: 665px) {
  body {
    font-size: 14px;
  }
  body h1 {
    font-size: 33px;
  }
  header {
    height: 50px;
  }
  header img {
    max-width: 120px;
  }
  header #header_auth__label {
    font-size: 13px;
  }
  #menu {
    width: 100vw;
  }
  #menu .menu_content {
    top: 35%;
  }
  main {
    width: 100%;
    padding: 60px 40px 10px 40px;
  }
  main form {
    width: 100%;
  }
  main form div {
    flex-direction: column;
  }
  main form .unitedform {
    font-size: 14px;
  }
  main form textarea::-moz-placeholder {
    font-size: 12px;
  }
  main form textarea::placeholder {
    font-size: 12px;
  }
  footer {
    height: 48px;
  }
  footer .footer_company__href {
    font-size: 14px;
  }
  footer .footer_company__copyright {
    font-size: 9px;
  }
  .select2-container--default {
    max-width: 100%;
  }
}
.auth_form {
  width: 350px;
}
.auth_form form .checkbox_auth {
  flex-direction: row;
}
.auth_form form h1 {
  margin: 0px 0px 0px -5px;
}

.wrapperError__text {
  margin-right: 5px;
}
.wrapperError p {
  font-size: 18px;
}

@media (max-width: 390px) {
  header {
    height: 45px;
  }
  header img {
    max-width: 110px;
  }
  header #header_auth__label {
    font-size: 11px;
  }
  main {
    padding: 45px 40px 10px 40px;
  }
  main form textarea::-moz-placeholder {
    font-size: 11px;
  }
  main form textarea::placeholder {
    font-size: 11px;
  }
  .auth_form {
    width: 310px;
  }
  .auth_form .auth_form__status {
    font-size: 13px;
  }
}
@media (max-width: 340px) {
  header {
    height: 40px;
  }
  header img {
    max-width: 90px;
  }
  main form textarea::-moz-placeholder {
    font-size: 10.5px;
  }
  main form textarea::placeholder {
    font-size: 10.5px;
  }
  .auth_form {
    width: 300px;
  }
  .wrapperError p {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  header img {
    max-width: 85px;
  }
  header #header_auth__label {
    font-size: 9px;
  }
  main form textarea::-moz-placeholder {
    font-size: 9.6px;
  }
  main form textarea::placeholder {
    font-size: 9.6px;
  }
  main form .help_p {
    width: 200px;
    font-size: 10.5px;
  }
  .auth_form {
    width: 260px;
  }
  .auth_form .auth_form__status {
    font-size: 12px;
  }
  .wrapperError p {
    font-size: 13.9px;
  }
}/*# sourceMappingURL=style.css.map */