@import "reset.scss";
@import "fonts.scss";
///____________///
///____________///
///____________///
// Общий стиль
body {
    width: 100%;
    background-color: #f6f3f3;
    font-family: "Montserrat";
    font-size: 16px;
    h1 {
        margin: 25px 0;
        border-left: solid 3px #16a2c1;
        padding-left: 10px;
        font-size: 38px;
        line-height: 99%;
        font-weight: bold;
    }
    a {
        color: #130042;
        &:hover {
            color: #1680a3;
        }
    }
    .help_p {
        max-width: 280px;
        margin-top: 30px;
        padding: 5px 8px 5px 8px;
        border-radius: 3px;
        font-size: 13px;
        background-color: #ffe7918a;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    #payment_sum {
        padding: 5px 2px 5px 8px;
    }
    /// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    table {
        width: 100%;
        border: solid 2px #000000;
        border-collapse: collapse;
        font-size: 14px;
        thead {
            background-color: #4e4f4f;
            color: #ffffff;
            th {
                text-align: center;
                cursor: pointer;
            }
        }
        th,
        td {
            text-align: left;
            vertical-align: middle;
            padding: 8px;
            border: solid 2px #000000;
        }
    }
    #logInfo {
        position: absolute;
        top: 40%;
        min-width: 260px;
        max-width: 275px;
        z-index: 6;
        border: solid 1px #d5d5d547;
        border-radius: 9px;
        -webkit-box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.29);
        -moz-box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.29);
        box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.29);
        font-family: "FS Elliot";
        span {
            font-size: 23px;
            font-weight: bold;
        }
        div {
            font-size: 14px;
        }
        button {
            margin-top: 8px;
            width: 80px;
            padding: 3px;
            float: right;
            border: none;
            border-radius: 5px;
            font-family: "Montserrat";
            font-size: 15px;
            color: #f3f3f3;
            background-color: #393939;
            -webkit-box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.19);
            -moz-box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.19);
            box-shadow: 4px 4px 3px 0px rgba(34, 60, 80, 0.19);
        }
    }
    .window.error {
        background-color: #f1d9e1;
    }
    .window.success {
        background-color: #cdf1cd;
    }
    // Адаптивная обёртка
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
}
///____________///
///____________///
///____________///
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 55px;
    z-index: 10;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000000;
    // Меню-юургер в шапке сайта
    .header__pic {
        display: flex;
        .header__pic__menu {
            img {
                width: 40px;
                margin: 14.5px 0px 5px 25px;
            }
        }
    }
    #header_auth__label {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 15px;
        color: #ffffff;
    }
    a {
        color: #faebd7;
        &:hover {
            color: #5ab1ce;
        }
    }
}
#menu {
    display: none;
    position: absolute;
    width: 400px;
    z-index: 8;
    top: 55px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.91);
    color: #ffffff;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes slideInLeft {
        0% {
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            visibility: visible;
        }
        100% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    .menu_content {
        display: flex;
        font-size: 19px;
        ul {
            padding: 20px 15px 30px 0px;
            li {
                margin: 5px 0px;
                border-bottom: solid 2px #8f8f8f;
                border-left: dashed 2px #8f8f8f;
                padding-left: 5px;
                a {
                    color: #fafdff;
                    text-decoration: none;
                    &:hover {
                        color: #e3d47f;
                    }
                }
            }
            .mainmenu_h {
                border-bottom: 0px;
                border-left: 0px;
                padding-left: 0px;
                font-size: 28px;
                font-weight: bold;
            }
        }
    }
}
#menuImage {
    cursor: pointer;
}
///____________///
///____________///
///____________///
footer {
    height: 55px;
    width: 100%;
    z-index: 4;
    flex: 0 0 auto;
    background-color: #000000;
    color: #ffffff;
    a {
        color: #faebd7;
        &:hover {
            color: #5ab1ce;
        }
    }
    .footer_company {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__href {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 5px;
            font-size: 15px;
            &_bitrix24 {
                margin-right: 8px;
            }
        }
        &__copyright {
            display: flex;
            justify-content: center;
            font-size: 12px;
        }
    }
}
///____________///
///____________///
///____________///
main {
    display: flex;
    flex-direction: column;
    z-index: 4;
    width: 92%;
    flex: 1 0 auto;
    justify-content: center;
    align-self: center;
    padding: 60px 40px 0px 40px;
    background-color: #ffffff;
    form {
        width: 550px;
        margin: 20px 0px;
        padding: 0px 20px;
        border-radius: 12px;
        background-color: #ededed;
        align-self: center;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        div {
            display: flex;
            max-width: 530px;
            flex-direction: row;
            margin: 15px 0 5px 0;
        }
        .hidden_label {
            margin-bottom: 10px;
        }
        textarea {
            width: 100%;
            height: 100px;
            resize: none;
            margin-top: 5px;
            padding: 6px 8px;
            border-radius: 5px;
            border-color: #0000005c;
            font-family: "Montserrat";
            font-size: 13px;
        }
        #basis_of_payment {
            height: 50px;
        }
        label {
            flex: 1;
            font-weight: bold;
        }
        select,
        input {
            max-width: 320px;
            flex: 2;
            padding: 4px 7px;
            border: solid 1px #aaa;
            border-radius: 5px;
            font-family: "Montserrat";
            font-size: 13px;
        }
        .unitedform {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;
            margin-left: 15px;
            padding: 0px 15px 8px 15px;
            border-left: solid 2px #80808045;
            font-size: 14.5px;
        }
        .form_description {
            margin-bottom: 20px;
            font-size: 12px;
            color: #757575;
        }
        button {
            float: right;
            margin-top: 5px;
            margin-bottom: 20px;
            width: 160px;
            padding: 10px 20px;
            border: none;
            border-radius: 8px;
            font-family: "Montserrat";
            font-size: 19px;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            &:enabled {
                background-color: #000000;
                color: #ffffff;
            }
        }
    }
}
///
///
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 27px;
}
.select2-selection__rendered {
    font-size: 13px;
}
.select2-results {
    font-size: 13px;
    strong {
        font-weight: bold;
    }
    &__option--disabled {
        display: none;
    }
    &__group {
        font-size: 16px;
        text-decoration: underline 1.5px #b9b9b9;
        padding: 6px 6px 6px 12px;
    }
}
#new_payment {
    .select2-container--default {
        max-width: 100% !important;
        width: 320px !important;
    }
}
///____________///
///____________///
///____________///
///____________///
///////////////////////////////////////////
.auth_form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    padding: 0px;
    border-radius: 8px;
    background-color: #cbcbcb54;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    &__status {
        margin-bottom: 10px;
        font-size: 14px;
    }
    form {
        transform: translate(0%, 0%);
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 530px;
        .checkbox_auth {
            justify-content: end;
            margin: -8px 0 -4px 0;
            font-size: 13.5px;
            div {
                input {
                    flex: 0;
                }
            }
            .checkbox_auth__label {
                margin-left: 4px;
            }
        }
        .button_enter {
            background-color: #212121;
            color: #ffffff;
        }
    }
    .auth_form__status__form {
        background-color: #ffffff00;
        box-shadow: none;
        h1 {
            margin: 0px 0px 10px 0px;
            padding: 0px 0px 10px 0px;
            border-bottom: solid 2px #dfdfdf;
            border-left: none;
            font-size: 25px;
        }
        .button_enter {
            max-width: 100%;
            height: 30px;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        }
        label {
            margin-top: 1px;
        }
        input {
            max-width: 240px;
        }
        .button_enter {
            margin-top: 5px;
            margin-bottom: -2px;
            font-weight: bold;
            font-size: 14px;
        }
    }
}
///////////////////////////////////////////
.wrapperError {
    padding-bottom: 100px;
    margin: auto;
    img {
        width: 590px;
    }
    &__text {
        margin-right: 35px;
    }
    p {
        text-align: center;
        font-size: 20px;
        line-height: 95%;
        a {
            color: #265af3;
            font-weight: bold;
            &:hover {
                color: #587ef0;
            }
        }
    }
}
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///____________///
///////////////////////////////////////////
@media (max-width: 665px) {
    body {
        font-size: 14px;
        h1 {
            font-size: 33px;
        }
    }
    header {
        height: 50px;
        .header__pic {
            .header__pic__menu {
                img {
                    margin: 12.5px 0px 5px 20px;
                }
            }
        }
        #header_auth__label {
            font-size: 13px;
        }
    }
    #menu {
        width: 100vw;
        top: 50px;
    }
    main {
        width: 100%;
        padding: 60px 40px 10px 40px;
        form {
            width: 100%;
            div {
                flex-direction: column;
            }
            .unitedform {
                font-size: 14px;
            }
            textarea::placeholder {
                font-size: 12px;
            }
            .help_p {
                max-width: 242px;
                margin-bottom: 20px;
                font-size: 11px;
            }
        }
    }
    footer {
        height: 48px;
        .footer_company {
            &__href {
                font-size: 14px;
            }
            &__copyright {
                font-size: 9px;
            }
        }
    }
    .auth_form {
        width: 350px;
        padding: 5px;
        form {
            .checkbox_auth {
                flex-direction: row;
            }
        }
        .auth_form__status__form {
            div {
                margin: 5px 0 5px 0;
            }
            input {
                min-width: 100%;
            }
        }
    }
    .wrapperError {
        &__text {
            margin-right: 5px;
        }
        p {
            font-size: 18px;
        }
    }
}
///____________///
///____________///
///____________///
///____________///
///____________///
@media (max-width: 390px) {
    header {
        height: 45px;
        .header__pic {
            .header__pic__menu {
                img {
                    width: 35px;
                    margin: 12px 0px 5px 10px;
                }
            }
        }
        #header_auth__label {
            font-size: 11px;
        }
    }
    #menu {
        top: 40px;
    }
    main {
        padding: 45px 40px 10px 40px;
        form {
            textarea::placeholder {
                font-size: 11px;
            }
        }
    }
    .auth_form {
        width: 310px;
        .auth_form__status__form {
            font-size: 14px;
            h1 {
                font-size: 28px;
            }
        }
    }
    .select2-results {
        font-size: 11.5px;
        &__group {
            font-size: 13.5px;
        }
    }
}
///____________///
///____________///
///____________///
///____________///
///____________///
@media (max-width: 340px) {
    header {
        height: 40px;
        .header__pic {
            .header__pic__menu {
                img {
                    width: 30px;
                    margin: 10px 0px 5px 10px;
                }
            }
        }
    }
    main {
        form {
            textarea::placeholder {
                font-size: 10.5px;
            }
            .help_p {
                width: 100%;
            }
        }
    }
    .auth_form {
        width: 300px;
    }
    .wrapperError {
        p {
            font-size: 16px;
        }
    }
}
///____________///
///____________///
///____________///
///____________///
///____________///
@media (max-width: 320px) {
    header {
        img {
            max-width: 85px;
        }
        #header_auth__label {
            font-size: 9px;
        }
    }
    main {
        form {
            textarea::placeholder {
                font-size: 9.6px;
            }
            .help_p {
                font-size: 10.5px;
            }
        }
    }
    .auth_form {
        width: 260px;
        .auth_form__status {
            font-size: 12px;
        }
    }
    .wrapperError {
        p {
            font-size: 13.9px;
        }
    }
}
