<!DOCTYPE html>

<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link href="/static/po/page_fe4976e5226406a955eda7a8eff1651d_v1.css" type="text/css" rel="stylesheet">
    <link href="/static/po/style.css" type="text/css" data-template-style="true" rel="stylesheet">

    <link rel="icon" href="https://kpln-employees.ru/static/img/fav.png" type="image/x-icon">
	<title>ПО Контроль платежей</title>

    <link rel="stylesheet" href="/static/po/module.css">
</head>
<body cz-shortcut-listen="true">

	<div class="site-wrapper">
					<header class="header-new">
				<div class="header-new__container">
					<div class="header-new__row">

						<a class="header-new__logo" href="https://www.kpln.ru/" target="_blank">
							<img class="header-new__logo-img" src="/static/po/KPLN.png" alt="КПЛН логотип">
						</a>

						<div class="header-new__right">
							<div class="header-new__contacts">
								<a class="roistat-phone-tel" href="tel:+79104385623">+7 910 438-56-23</a>
							</div>

							<div class="header-new__button">
								<a class="page-header__button" href="http://31.129.104.145/" target="_blank">
									Получить КП
								</a>
							</div>

						</div>
					</div>
				</div>
			</header>

		<main class="page-main ">




 <div class="library-container">
    <header class="library-header">
      <h1 class="library-header__title">
        Контроль платежей <span>Документация</span>      </h1>
      <div class="library-header__baner">
        <img src="https://kpln-employees.ru/static/img/mainpage/newpayment.png" alt="Контроль платежей" style="max-width: 300px; max-height: 300px; padding: 16px 16px;">
      </div>
    </header>
    <section class="library-description">
        <p>
            Программное обеспечение «Контроль платежей» — продукт позволяющий осуществить взаимосвязь между бухгалтерией, отделом продаж и руководством при проведении платежей.
        </p>
        <br>
        <h2>Функциональные характеристики</h2>
        <div>
            <p>
                Программное обеспечение «Контроль платежей» (далее и ниже – контроль платежей) разработана для коммуникации между разными отделами компании по средствам выставления заявок на оплату, их согласования и подтверждения оплаты.
				С помощью контроля платежей в компании упростится процесс оплаты платежей.
            </p>
            <br>
            <p><b>Задачи, решаемые с помощью контроля платежей:</b></p>
            <ul>
                <li>Создания заявок на оплату счетов;</li>
				<li>Согласование полученных заявок руководством;</li>
				<li>Изменения статуса оплаты заявки.</li>
            </ul>
            <br>
            <p><b>Программное обеспечение предназначено для:</b></p>
            <ul>
				<li>Создания заявок на оплату счетов;</li>
				<li>Согласование полученных заявок руководством;</li>
				<li>Изменения статуса оплаты заявки.</li>
            </ul>
            <p>Программное обеспечение предоставляет Веб-интерфейс для управления содержимым в соответствии с предъявляемыми требованиями по протоколу https.</p>
        </div>
    </section>

    <section class="library-info">
        <h2 class="library-info__title web">
            Контроль платежей
        </h2>
        <div class="library-info__list library-list web">
          <ul>

            <li>
              <a class="documentary-link" href="" download="">
                Функциональные характеристики и руководство пользователя ПО "Контроль платежей"</a>
            </li>


            <li>
              <a class="documentary-link" href="" download="">
                Описание процессов, обеспечивающих поддержание жизненного цикла ПО "Контроль платежей"</a>
            </li>


            <li>
              <a class="documentary-link" href="" download="">
                Инструкция по установке экземпляра ПО объясняет процесс установки программного обеспечения "Контроль платежей"</a>
            </li>

                    </ul>
        </div>

        <h2 class="library-info__title entity">
          Расчёт стоимости для юридических лиц
        </h2>
        <div class="library-info__entity-body">
          <div class="library-info__text">
             Стоимость программного обеспечения рассчитывается индивидуально. Для точного расчета стоимости отправьте
            заявку нашим менеджерам.          </div>
          <div class="library-info__contacts">
            <a class="library-info__phone" href="tel:+79104385623">+7 910 438-56-23</a>
          </div>
        </div>

    </section>
     <section class="library-description">

         <h3>Техническая поддержка</h3>
         <div>
             <p>
                 Связаться со службой технической поддержки можно по электронной почте
                 <a href="mailto:pivnenkon@kpln.ru">pivnenkon@kpln.ru</a>.
             </p>
             <br><br>
         </div>
     </section>

  </div></main>
<footer class="page-footer">
	<div class="footer-wrapper container">
        <div class="page-footer__wrapper">
		    <div class="page-footer__wrapper">
				<div class="page-footer__info">
					<p>Контроль платежей.</p>
					<div class="page-footer__contacts">
						<a class="page-footer__phone roistat-phone-tel" href="tel:+79104385623">+7 910 438-56-23</a>
					</div>
				</div>
			</div>
		</div>
</footer>
</div>
</body></html>