<!DOCTYPE html>
<html>
<head>

    <script src="static/script/PrAndTasks_addRow.js"></script>

<style>
    table {
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
    }

    button {
      margin-right: 8px;
    }
</style>

</head>
<body>
    <table id="myTable">
        <tr class="book">
            <td>
                <button onclick="addRow(this, 'Before')">▲+</button>
                <button onclick="addRow(this, 'After')">▼+</button>
            </td>
            <td>Том АР-1</td>
            <td><input type="text" class="sec_col" value="а"></td>
        </tr>
        <tr class="task">
            <td>
                <button onclick="addRow(this, 'Before')">▲+</button>
                <button onclick="addRow(this, 'After')">▼+</button>
            </td>
            <td><input type="text" class="first_col" value="б1"></td>
            <td><input type="text" class="sec_col" value="б"></td>
        </tr>

    </table>


</body>
</html>