<!DOCTYPE html>
<html>
<head>



</head>
<body>
    <canvas id="myCanvas"></canvas>



    <script>
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');

        const cellWidth = 20;
        const cellHeight = 20;
        const numRows = 2000;
        const numCols = 150;

        canvas.width = cellWidth * numCols;
        canvas.height = cellHeight * numRows;

        for (let i = 0; i < numRows; i++) {
          for (let j = 0; j < numCols; j++) {
            ctx.strokeRect(j * cellWidth, i * cellHeight, cellWidth, cellHeight);
          }
        }
    </script>



</body>
</html>