<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
</head>
<body>
    {% for p in menu %}
    <li><a href="{{p.url}}">{{p.name}}</a></li>
    {% endfor %}

    <h1>List of Contracts</h1>

    <form action="/filter" method="POST">
        <label for="status">Filter by status:</label>
        <select id="status" name="status">
            <option value="">All</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
        <input type="submit" value="Filter">
    </form>

    <form action="/sort" method="POST">
        <label for="sort_by">Sort by:</label>
        <select id="sort_by" name="sort_by">
            <option value="" disabled selected hidden>Выберите Тип договора...</option>
            {% for lst in sort_list %}
            <option value="{{ lst[0] }}">{{ lst[0] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Sort">
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Status</th>
            <th>Comment</th>
        </tr>
        {% for contract in contracts %}
        <tr>
            <td>{{ contract[0] }}</td>
            <td>{{ contract[1] }}</td>
            <td>{{ contract[2] }}</td>
            <td>{{ contract[3] }}</td>
            <td>{{ contract[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>