<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/fav.png" type="image/x-icon">
    <link rel=" stylesheet" href="static/style/style.css">
    <title>{{title}}</title>


    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            cursor: pointer;
        }
    </style>
    <script src="static/script/paymentApprovalSort.js"></script>
</head>
<body>

    {% if get_flashed_messages(True) %}
    <dialog class="window {{get_flashed_messages(True)[0][0]}}" id="logInfo" open>
        <div class="flash {{get_flashed_messages(True)[0][0]}}">
            {{get_flashed_messages(True)[0][1][0]}}<br>
            {{get_flashed_messages(True)[0][1][1]}}
        </div>
    </dialog>
    {% else %}
    {% endif %}





    <div class="wrapper">
        <header>
            <div class="header__logo">
                <img src="static/img/logo.png" alt="kpln_logo">
            </div>
            <div id="header_auth__label">{{menu_profile[0].name[0]}} <a href="{{menu_profile[0].url}}">{{menu_profile[0].name[1]}}</a></div>
        </header>
        <main>
            {% for p in menu %}
            <a href="{{p.url}}">
                <img src="{{p.img}}" width="50" height="50" alt="{{p.name}}" title="{{p.name}}">{{p.name}}
            </a>
            {% endfor %}
        </main>

        <footer>
            <div class="footer_company">
                <div class="footer_company__href">
                    <div class="footer_company__href_bitrix24"><a href="https://kpln.bitrix24.ru/">Битрикс24</a></div>
                    <div class="footer_company__href_moodle"><a href="http://moodle/">Учебный центр</a></div>
                </div>
                <div class="footer_company__copyright">Copyright &copy; <div id="yearToday"></div>&nbsp Проектное бюро "Крупный план"</div>
            </div>
        </footer>
    </div>
    <script src="static/script/todayYear.js"></script>
</body>

</html>