{% extends "layout-main.html" %}
{% block head %}
{{ super() }}
{% block scripts %}
<style>
    .cards-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin: 10px;
        width: 300px;
    }

    .card-title {
        font-weight: bold;
        font-size: 250%;
    }

    .card-cost {
        color: green;
    }
</style>
{% endblock %}

{% endblock %}
{% block content %}

<div class="cards-container">
    {% for m in menu %}
    <div class="cards_container__category">
        <div class="cards_container__category__name">{{m.menu_item}}</div>
        {% for p in m.sub_item %}

        <div class="card">{{ p.name }}
            <div class="card__pic"><img src="{{p.img}}" width="50" height="50" alt="{{p.name}}" title="{{p.name}}"></div>
            <div class="card__href"><a href="{{p.url}}"> {{ p.name }} </a></div>
            <!--    Карточка конкретной плашки-->
            <!--                <a href="{{p.url}}">-->
            <!--                    <div class="card">-->
            <!--                        <h2 class="card-title"></h2>-->
            <!--                        <img src="{{p.img}}" width="50" height="50" alt="{{p.name}}" title="{{p.name}}">-->
            <!--                        <p class="card-cost">{{ p.name }}</p>-->
            <!--                    </div>-->
            <!--                </a>-->
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}



<div class="Это вообще все объекты в ГМ (или объекты, которые можно разбить на другие объекты для позиционирования)">
    <div class="Это категории меню, т.е. платежи, администрирование и т.д">
        <div class="Это пункт категории добавить поступление, новый платёж и т.д">
            <div class="Это иконка пункта меню"></div>
            <div class="Это ссылка на страницу"></div>
        </div>
    </div>
</div>