{% extends "_layout-error.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="auth_form">
    <form class="auth_form__status__form" action="" method="post" class="form-contact">
        <h1><img src="static/img/h1/auth.png"> {{title}}</h1>
        <div class="auth_form__email"><label>E-mail:</label> <input type="text" name="email" value="" required /></div>
        <div class="auth_form__password"><label>Пароль:</label> <input type="password" name="password" value="" required /></div>
        <div class="checkbox_auth">
            <div class="checkbox_auth__input"><input type="checkbox" name="remainme" /></div>
            <div class="checkbox_auth__label"><label>Запомнить меня</label></div>
        </div>
        <div><input class="button_enter" type="submit" value="Войти" /></div>
    </form>
</div>

{% endblock %}