<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/fav.png" type="image/x-icon">
    <script src="static/script/jquery.min.js"></script>

    <link rel="stylesheet" href="static/style/select2.min.css">
    <link rel="stylesheet" href="static/style/style.css">

    <script src="static/script/checkFormNewPayment.js"></script>
    <script src="static/script/select2.min.js"></script>
    <script src="static/script/selectSearch.js"></script>
    <script src="static/script/numberWithSpaces.js"></script>

    <title>{{title}}</title>
</head>

<body>

    {% if get_flashed_messages(True) %}
    <dialog class="window {{get_flashed_messages(True)[0][0]}}" id="logInfo" open>
        <span>Статус:</span>
        <div class="flash {{get_flashed_messages(True)[0][0]}}">
            {{get_flashed_messages(True)[0][1][0]}}<br>
            {{get_flashed_messages(True)[0][1][1]}}
        </div>
        <button type="button" onclick="window.logInfo.close();">
            Закрыть
        </button>
    </dialog>
    {% else %}
    {% endif %}

    <div class="wrapper">

        <header>
            <div class="header__logo">
                <img src="static/img/menu.png" alt="kpln_logo" id="menuImage">
            </div>
            <div id="header_auth__label">{{menu_profile[0].name[0]}} &nbsp;&nbsp;&nbsp;<a href="{{menu_profile[0].url}}">{{menu_profile[0].name[1]}}</a></div>
            <div id="menu">
                <div class="menu_content">
                    <ul>
                        <li class="mainmenu_h"><a href="/">Главная страница</a></li>
                        {% for p in menu %}
                        <li><a href="{{p.url}}">{{p.name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </header>



        <main>

            <form method="POST" action="/new-payment">
                <h1>{{title}}</h1>
                <p><label for="basis_of_payment">Наименование платежа*</label>
                    <textarea name="basis_of_payment" id="basis_of_payment" rows="1" required oninput="checkFormNewPayment()"></textarea>
                <p class="form_description">* Аванс по договору №, такой-то с субподрядчиком (наименование субподрядчика в контрагенты) или
                    оплата
                    по акту по договору</p>
                </p>
                <div><label for="responsible">Ответственный*</label>
                    <select class="selectSearch" name="responsible" id="responsible" required onchange="checkFormNewPayment()">
                        <option value="" disabled selected hidden>Выберите ответственного</option>
                        {% for r in responsible %}
                        <option value="{{ r[0] }}">{{ r[1] }} {{ r[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="unitedform">
                    <div><label for="cost_items">Тип заявки*</label>
                        <select class="selectSearch" name="cost_items" id="cost_items" required onchange="checkFormNewPayment()">
                            <option value="" disabled selected hidden>Выберите тип заявки</option>
                            {% for category, names in cost_items.items() %}
                            <optgroup label="{{ category }}">
                                {% for name in names %}
                                <option value="{{ category }}-@@@-{{ name[1] }}">{{ name[0] }}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}div
                        </select>
                    </div>
                    <div class="hidden_label" id="objects_name_div">
                        <label for="objects_name" id="objects_name_label">Наименование объекта*</label>
                        <select class="selectSearch" name="objects_name" id="objects_name" onchange="checkFormNewPayment()">
                            <option value="" disabled selected hidden>Выберите объект</option>
                            {% for object_name in objects_name %}
                            <option value="{{ object_name[0] }}">{{ object_name[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <p><label for="payment_description">Описание*</label>
                    <textarea name="payment_description" id="payment_description" rows="4"
                        placeholder="Укажите:&#10;- Наименование работ (ООС, техрегламент, ПОС и т.п.)&#10;- Статус, за что платим (работы выполнены, аванс, работы приняты заказчиком)"
                        required oninput="checkFormNewPayment()"></textarea>
                </p>
                <div><label for="partners">Контрагент</label>
                    <input type="text" name="partners" id="partners" list="partners_name">
                    <datalist id="partners_name">
                        <option></option>
                        {% for partner in partners %}
                        <option value="{{ partner[0] }}">{{ partner[0] }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div><label for="payment_due_date">Срок оплаты*</label>
                    <input type="date" onload="getDate()" name="payment_due_date" id="payment_due_date" value="{{ today }}" required
                        oninput="checkFormNewPayment()">
                </div>
                <div><label for="our_company">Компания *</label>
                    <select class="selectSearch" name="our_company" id="our_company" required onchange="checkFormNewPayment()">
                        <option value="" disabled selected hidden>Выберите компанию</option>
                        {% for our_company in our_companies %}
                        <option value="{{ our_company[0] }}">{{ our_company[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div><label for="payment_sum">Сумма оплаты*</label>
                    <input type="text" placeholder="руб." name="payment_sum" id="payment_sum" onchange="numberWithSpaces(event, ' руб.')"
                        oninput="checkFormNewPayment()" />
                </div>
                <div class="help_p">* - поля обязательные для заполнения</div>
                <button type="submit" id="submitBtn" onclick="window['logInfo'].showModal();" disabled>Сохранить</button>
            </form>

        </main>

        <footer>
            <div class=" footer_company">
                <div class="footer_company__href">
                    <div class="footer_company__href_bitrix24"><a href="https://kpln.bitrix24.ru/">Битрикс24</a></div>
                    <div class="footer_company__href_moodle"><a href="http://moodle/">Учебный центр</a></div>
                </div>
                <div class="footer_company__copyright">Copyright &copy; <div id="yearToday"></div>&nbsp Проектное бюро "Крупный план"</div>
            </div>
        </footer>

    </div>

    <script src="static/script/todayYear.js"></script>
    <script src="static/script/menunav.js"></script>

</body>
</html>