<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>
    <h1>Добавить новый договор</h1>

    {% for p in menu %}
    <li><a href="{{p.url}}">{{p.name}}</a></li>
    {% endfor %}

    <br>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
    <br>
    <form method="POST" action="/">
        <label for="object">Объект *</label>
        <select name="object" id="object">
            <option value="" disabled selected hidden>Выберите объект...</option>
            {% for object in objects %}
            <option value="{{ object[0] }}">{{ object[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="contract-type">Тип договора *</label>
        <select id="contract-type" name="contract_type">
            <option value="" disabled selected hidden>Выберите Тип договора...</option>
            {% for c_type in contract_types %}
            <option value="{{ c_type[0] }}">{{ c_type[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="date">Дата начала *</label>
        <input type="date" onload="getDate()" name="date" id="date" value="{{ today }}" required>
        <!--        <input type="date" name="date" id="date" value="2018-07-22" required>-->

        <br><br>

        <label for="contract-number">Номер договора *</label>
        <input type="text" id="contract-number" name="contract_number" placeholder="№ ..." required>

        <br><br>

        <label for="customer">Заказчик *</label>
        <input type="text" id="customer" name="customer" placeholder="Укажите наименование Заказчика" required>

        <br><br>

        <label for="contractor">Подрядчик *</label>
        <select id="contractor" name="contractor">
            <option value="" disabled selected hidden>Выберите компанию...</option>
            {% for contractor in contractor_name %}
            <option value="{{ contractor[0] }}">{{ contractor[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="commentary">Комментарий</label>
        <input type="text" id="commentary" name="contract_comment" placeholder="Комментарий (не обязательное поле)">

        <br><br>

        <label for="contract-status">Статус *</label>
        <select id="contract-status" name="contract_status">
            <option value="" disabled selected hidden>Выберите статус...</option>
            {% for status in contract_status_name %}
            <option value="{{ status[0] }}">{{ status[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="contract-purpose">Назначение *</label>
        <select id="contract-purpose" name="contract_purpose">
            <option value="" disabled selected hidden>Выберите статус...</option>
            {% for purpose in contract_purpose_name %}
            <option value="{{ purpose[0] }}">{{ purpose[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="vat">Назначение *</label>
        <select id="vat" name="vat">
            <option value="" disabled selected hidden>Выберите назначения...</option>
            {% for vat in vat_name %}
            <option value="{{ vat[0] }}">{{ vat[0] }}</option>
            {% endfor %}
        </select>

        <br><br>

        <button type="submit">Сохранить</button>
    </form>

    <!--    {% if result %}-->
    <!--        <p>{{ result }}</p>-->
    <!--    {% endif %}-->
</body>

</html>