<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/fav.png" type="image/x-icon">
    <script src="static/script/jquery.min.js"></script>
    <script src="static/script/select2.min.js"></script>
    <link rel="stylesheet" href="static/style/select2.min.css/"">
    <link rel=" stylesheet" href="static/style/style.css">
    <script src="static/script/checkForm.js"></script>
    <script src="static/script/numberWithSpaces.js"></script>
    <script src="static/script/searchSelect.js">
    </script>
    <title>{{title}}</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header__logo">
                <img src="static/img/logo.png" alt="kpln_logo">
            </div>
            <div id="header_auth__label">{{menu_profile[0].name[0]}} <a href="{{menu_profile[0].url}}">{{menu_profile[0].name[1]}}</a></div>
        </header>
        <main>

            <h1>{{title}}</h1>

            {% for p in menu %}
            <li><a href="{{p.url}}">{{p.name}}</a></li>
            {% endfor %}
            <br>

            <form method="POST" action="/new_payment">
                <p><label for="basis_of_payment">Наименование платежа *</label>
                    <textarea id="basis_of_payment" rows="1" name="basis_of_payment" required oninput="checkForm()"></textarea>
                <p class="main_content_description">* Аванс по договору №, такой-то с субподрядчиком (наименование субподрядчика в контрагенты) или
                    оплата
                    по акту по договору</p>
                </p>
                <div><label for="responsible">Ответственный</label>
                    <select class="searchSelect" id="responsible" name="responsible" required oninput="checkForm()">
                        <option value="" disabled selected hidden>Выберите ответственного...</option>
                        {% for r in responsible %}
                        <option value="{{ r[0] }}">{{ r[1] }} {{ r[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div><label for="cost_items">Тип заявки</label>
                    <select id="cost_items" name="cost_items" required oninput="checkForm()">
                        <option value="" disabled selected hidden>Выберите тип заявки...</option>
                        {% for category, names in cost_items.items() %}
                        <optgroup label="{{ category }}">
                            {% for name in names %}
                            <option value="{{ category }}-@@@-{{ name[1] }}">{{ name[0] }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}div
                    </select>
                </div>
                <div class="hidden_label"><label for="objects_name" id="objects_name_label" hidden>Наименование объекта</label>
                    <select id="objects_name" name="objects_name" oninput="checkForm()" hidden>
                        <option value="" disabled selected hidden>Выберите объект...</option>
                        {% for object_name in objects_name %}
                        <option value="{{ object_name[0] }}">{{ object_name[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <p><label for="payment_description">Описание</label>
                    <textarea id="payment_description" rows="4" name="payment_description"
                        placeholder="Укажите:&#10;- Наименование работ (ООС, техрегламент, ПОС и т.п.)&#10;- Статус, за что платим (работы выполнены, аванс, работы приняты заказчиком)"
                        required oninput="checkForm()"></textarea>
                </p>
                <div><label for="partners">Контрагент</label>
                    <input type="text" id="partners" name="partners" list="partners_name">
                    <datalist id="partners_name">
                        <option></option>
                        {% for partner in partners %}
                        <option value="{{ partner[0] }}">{{ partner[0] }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div><label for="payment_due_date">Срок оплаты</label>
                    <input type="date" onload="getDate()" name="payment_due_date" id="payment_due_date" value="{{ today }}" required oninput="checkForm()">
                </div>
                <div><label for="our_company" 1>Компания</label>
                    <select id="our_company" name="our_company" required oninput="checkForm()">
                        <option value="" disabled selected hidden>Выберите компанию...</option>
                        {% for our_company in our_companies %}
                        <option value="{{ our_company[0] }}">{{ our_company[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div><label for="payment_sum">Сумма оплаты</label>
                    <input type="text" placeholder="&#8381;" id="payment_sum" placeholder="" onchange="numberWithSpaces(event, ' руб.')"
                        oninput="checkForm()" />
                </div>
                <button type=" submit" id="submitBtn" disabled>Сохранить</button>
            </form>
            <div class="logInfo">
                <span>Статус:</span>
                {% for cat, msg in get_flashed_messages(True) %}
                <div class=" flash {{cat}}">{{msg}}
                </div>
                {% endfor %}
                <br>
            </div>
        </main>

        <footer>
            <div class="footer_company">
                <div class="footer_company__href">
                    <div class="footer_company__href_bitrix24"><a href="https://kpln.bitrix24.ru/">Битрикс24</a></div>
                    <div class="footer_company__href_moodle"><a href="http://moodle/">Учебный центр</a></div>
                </div>
                <div class="footer_company__copyright">Copyright &copy; <div id="yearToday"></div>&nbsp Проектное бюро "Крупный план"</div>
            </div>
        </footer>

    </div>
    <script src="static/script/todayYear.js"></script>
</body>

</html>