{% if news_alerts %}


<dialog class="window_news" id="release" style="z-index: 110" open>
    <div class="whats_new">Что нового</div>
    {% for news in news_alerts %}
    <div class="update-datetime" style="font-size: 10px; color: grey; line-height: 24px; font-weight: 600;">
        {{news['create_at']}}
    </div>
    <div class="news_alerts {{news['news_category']}}">
        <div class="update-title" style="font-size: 30px; line-height: 36px; font-weight: 600;">
            {{news['news_title']}}
        </div>
        <div class="update-img">{% if news['news_img_link'] != None %}<img src="{{news['news_img_link']}}">{% endif %}</div>

        <div class="update-subtitle" style="font-size: 20px; line-height: 48px; font-weight: 1600;">{{news['news_subtitle']}}</div>
        <div class="update-description">
            {% for part in news['news_description'] %}
                <p>{{part}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="update-end">___________________</div>
    {% endfor %}
</dialog>


{% else %}
{% endif %}