<dialog class="window_news" id="release">
    <div class="window_news__h1"><img src="static/img/h1/news.png"> Что нового</div>
    <img id="crossBtnNAW" src="static/img/interface/close.png">


    <div class="news_card">
        <div class="window_news__datetime">111</div>


        <div class="news_category">
            <div class="window_news__h2"></div>
            <div class="window_news__img"></div>
            <div class="window_news__h3"></div>
            <div class="window_news__description"></div>
        </div>
        <div class="news_end">
            _____________________
        </div>
    </div>


</dialog>


<script src="static/script/newsAlert.js"></script>