{% if news_alerts %}


<dialog class="window_news" id="release" open>
    <div class="window_news__h1"><img src="static/img/h1/news.png"> ЧТО НОВОГО</div>
    <img id="crossBtnNAW" src="static/img/interface/close.png">
    {% for news in news_alerts %}


    <div class="window_news__datetime">
        {{news['create_at']}}
    </div>


    <div class="window_news__alerts {{news['news_category']}}">
        <div class="window_news__h2">
            {{news['news_title']}}
        </div>
        <div class="window_news__img">{% if news['news_img_link'] != None %}<img src="{{news['news_img_link']}}">{% endif %}</div>

        <div class="window_news__h3">
            {{news['news_subtitle']}}
        </div>
        <div class="window_news__description">{{news['news_description']}}</div>
    </div>

    {% endfor %}
</dialog>


{% else %}
{% endif %}
<script src="static/script/newsAlert.js"></script>