<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="static/img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="static/style/style.css">
  <script src="static/script/numberWithSpaces.js"></script>
  <title>{{title}}</title>
</head>
<body>
  <div class="wrapper">


    <header>
      <div class="header__logo">
        <img src="static/img/logo.png" alt="kpln_logo">
      </div>
      <div id="header_auth__label"></a></div>
    </header>

    <main>
      <div class="wrapperError4">
        <div>
          <img src="static/img/403.gif" alt="Ошибка 403">
        </div>
        <div class="wrapperError__text">
          <p>Доступ ограничен.</p>
          <p>Вернуться на <a href="/">главную</a> страницу.</p>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer_company">
        <div class="footer_company__href">
          <div class="footer_company__href_bitrix24"><a href="https://kpln.bitrix24.ru/">Битрикс24</a></div>
          <div class="footer_company__href_moodle"><a href="http://moodle/">Учебный центр</a></div>
        </div>
        <div class="footer_company__copyright">Copyright &copy; <div id="yearToday"></div>&nbsp Проектное бюро "Крупный план"</div>
      </div>
    </footer>

  </div>
  <script src="static/script/todayYear.js"></script>
</body>
</html>