{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<body id="payment-approval_page">

    {% endblock %}
    {% block content %}


    <form id="paymentForm" style="align-self: flex-start">

        <table id="payment-table" name="payment_table" class="display">
            <thead>
                <tr>
                    <th class="th_category">№ ПЛАТЕЖА</th>
                    <th class="th_category">СТАТЬЯ ЗАТРАТ</th>
                    <th class="th_name">НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                    <th class="th_description">ОПИСАНИЕ</th>
                    <th class="th_object">ОБЪЕКТ</th>
                    <th class="th_responsible">ОТВЕТСТВЕННЫЙ</th>
                    <th class="th_contractor">КОНТРАГЕНТ</th>
                    <th class="th_main_sum">ОБЩАЯ СУММА</th>
                    <th class="th_sum_paid">ОПЛАЧЕННАЯ СУММА</th>
                    <th class="th_pay_date">СРОК ОПЛАТЫ</th>
                    <th class="th_date_create">ДАТА СОЗДАНИЯ</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr id="row-{{ loop.index }}">
                    <td>{{application.payment_number}}</td>
                    <td class="th_category_i" data-sort="{{ application.cost_item_name }}">
                        <input id="paymentNumber-{{ loop.index }}" name="payment_number" value="{{application.payment_id}}" hidden readonly>{{
                        application.cost_item_name }}
                    </td>
                    <td data-sort="{{application.basis_of_payment}}" title="{{ application.basis_of_payment }}">{{
                        application.basis_of_payment_short }}</td>
                    <td class="th_description_i" data-sort="{{application.basis_of_payment}}" title="{{ application.payment_description }}">
                        <span class="paymentFormBold">{{ application.contractor_name }}: </span>
                        {{ application.payment_description_short }}
                    </td>
                    <td class="th_object_i" data-sort="{{application.object_name}}">{{ application.object_name }}</td>
                    <td class="th_responsible_i">{{ application.last_name }} {{ application.first_name[0] }}.</td>
                    <td class="th_contractor_i">{{ application.partner }}</td>
                    <td class="th_main_sum_i">{{ application.payment_sum_rub }}</td>
                    <td class="th_sum_remain_i">{{ application.paid_sum_rub}} </td>
                    <td class="th_pay_date_i">{{ application.payment_due_date }}</td>
                    <td class="th_date_create_i">{{ application.payment_at }}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </form>
    {% endblock %}

</body>