{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="static/script/numberWithSpaces.js"></script>
<script src="static/script/paymentApprovalSort.js"></script>
<script src="static/script/paymentApprovalSaveChanges.js"></script>
<script src="static/script/paymentApprovalRecalcCards.js"></script>
<script src="static/script/paymentApprovalColorize.js"></script>
<script src="static/script/paymentApprovalClearAmountWhenNoSelect.js"></script>
<script src="static/script/paymentPagination.js" defer></script>
<script src="static/script/paymentFilter.js"></script>

<!--<script src="static/script/tableCustom.js" defer></script>-->

<script src="static/script/verificationWindow.js" defer></script>

<body id="payment-pay_page">

    {% endblock %}
    {% block content %}

    <div class="tpages_top_panel">
        <h1><img src="static/img/h1/paymentpay.png"> {{title}}</h1>
        <div class="cards_container">
            <div class="card" id="card_selected_for_approval">
                <h2 class="card__title" id="card_selected_for_approval_value">&nbsp;</h2>
                <p class="card__cost">Выбрано для одобрения</p>
            </div>
            <div class="card" id="card_available_money">
                <h2 class="card__title" id="card_available_money_value" data-value="{{ money['account_money'] }}">{{ money['account_money_rub'] }}</h2>
                <p class="card__cost">ДС доступные к распределению</p>
            </div>
            <div class="card" id="card_account_money">
                <h2 class="card__title" id="card_account_money_value" data-value="{{ money['account_money'] }}">{{ money['account_money_rub'] }}</h2>
                <p class="card__cost">ДС на счету</p>
            </div>
        </div>
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-2" hidden>{{ sort_col['col_2'][0] }}#{{ sort_col['col_2'][1] }}</div>
    <div id="sortCol-2_val" hidden>{{ sort_col['col_2'][2] }}</div>
    <div id="sortCol-id" hidden>{{ sort_col['col_id'][0] }}#{{ sort_col['col_id'][1] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'][2] }}</div>


    {% include "_card-tableCustom.html" %}

    <dialog id="verification_dialog">
        <p id="paragraph_question">Хотите продолжить?</p>
        <div>
            <button type="button" id="verification_dialog__cancel">Отмена</button>
            <button type="button" id="verification_dialog__next">Продолжить</button>
        </div>
    </dialog>


    <form id="paymentForm" action="/payment-pay" method="POST">
        <div class="paymentFormBtn">
            <button type="button" id="submitButton" onclick="window['verification_dialog'].showModal();">Отправить</button>
            <button type="button" id="visualTablePA" onclick="window['tableCustom'].showModal();"><img src="static/img/interface/setting.png"> Отображение
                таблицы</button>
        </div>
        <div class="tableR">
            <table id="payment-table" name="payment_table" class="display">
                <thead class="fix_thead">
                    <tr>
                        <th class="th_select">
                            <div onclick="sortTable(0, 'num')">ВЫБОР&nbsp;<span class="arrow_sort"></span></div>
                            <input type="text" id="filter-input-0" hidden readonly>
                        </th>
                        <th class="th_category">
                            <div onclick="sortTable(1, 'str')">СТАТЬЯ ЗАТРАТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-1" oninput="filterTable()">
                        </th>
                        <th class="th_nnumber">
                            <div onclick="sortTable(2, 'num')">№ ПЛАТЕЖА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-2" oninput="filterTable()">
                        </th>
                        <th class="th_name">
                            <div onclick="sortTable(3, 'str')">НАИМЕНОВАНИЕ ПЛАТЕЖА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-3" oninput="filterTable()">
                        </th>
                        <th class="th_description">
                            <div onclick="sortTable(4, 'str')">ОПИСАНИЕ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-4" oninput="filterTable()">
                        </th>
                        <th class="th_object">
                            <div onclick="sortTable(5, 'str')">ОБЪЕКТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-5" oninput="filterTable()">
                        </th>
                        <th class="th_responsible">
                            <div onclick="sortTable(6, 'str')">ОТВЕТСТВЕННЫЙ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-6" oninput="filterTable()">
                        </th>
                        <th class="th_contractor">
                            <div onclick="sortTable(7, 'str')">КОНТРАГЕНТ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-7" oninput="filterTable()">
                        </th>
                        <th class="th_main_sum">
                            <div onclick="sortTable(8, 'num')">ОБЩАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-8" oninput="filterTable()">
                        </th>
                        <th class="th_sum_agreed">
                            <div onclick="sortTable(9, 'num')">ОПЛАЧЕНО&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-9" oninput="filterTable()">
                        </th>
                        <th class="th_sum_agreed">
                            <div onclick="sortTable(10, 'num')">СОГЛАСОВАННАЯ СУММА&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-10" oninput="filterTable()">
                        </th>
                        <th class="th_sum_agreed">
                            <div onclick="sortTable(11, 'num')">СУММА К ОПЛАТЕ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-11" oninput="filterTable()">
                        </th>
                        <th class="th_pay_date">
                            <div onclick="sortTable(12, 'str')">СРОК ОПЛАТЫ&nbsp;<span class="arrow_sort">▲</span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-12" oninput="filterTable()">
                        </th>
                        <th class="th_date_create">
                            <div onclick="sortTable(13, 'str')">ДАТА СОЗДАНИЯ&nbsp;<span class="arrow_sort"></span></div>
                            <input placeholder="Поиск" type="text" id="filter-input-13" oninput="filterTable()">
                        </th>
                        <th class="th_save_pay">
                            <div onclick="sortTable(14, 'num')">ДО ПОЛНОЙ ОПЛАТЫ&nbsp;<span class="arrow_sort"></span></div>
                            <input type="text" id="filter-input-14" hidden readonly>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr id="row-{{ loop.index }}">
                        <td class="th_select_i" data-sort="0">
                            <input type="checkbox" id="selectedRows-{{ loop.index }}" name="selectedRows" value="{{ loop.index }}"
                                onchange="paymentApprovalRecalcCards({{ loop.index }}), paymentApprovalNoSelect({{ loop.index }})">
                        </td>
                        <td class="th_category_i" id="category-{{ loop.index }}" data-sort="{{ application.cost_item_name }}"
                            onclick="getModal({{ application.payment_id }})">
                            <input id="paymentNumber-{{ loop.index }}" name="payment_number" value="{{application.payment_id}}" hidden readonly>
                            {{ application.cost_item_name }}
                        </td>
                        <td data-sort="{{ application.payment_id }}">{{application.payment_number}}</td>
                        <td class="th_name_i showModalId" data-sort="{{ application.basis_of_payment }}" title="{{ application.basis_of_payment }}"
                            onclick="getModal({{ application.payment_id }})">{{ application.basis_of_payment }}
                        </td>
                        <td class="th_description_i" data-sort="{{ application.contractor_name }}: {{ application.payment_description }}"
                            title="{{ application.payment_description }}">
                            <input name="contractor_id" value="{{ application.contractor_id }}" hidden readonly>
                            <span class="paymentFormBold">{{ application.contractor_name }}: </span>{{ application.payment_description }}
                        </td>
                        <td class="th_object_i" data-sort="{{ application.object_name }}">{{ application.object_name}}</td>
                        <td class="th_responsible_i" data-sort="{{ application.last_name }} {{ application.first_name }}">{{ application.last_name }} {{
                            application.first_name[0] }}.</td>
                        <td class="th_contractor_i" data-sort="{{ application.partner }}">{{ application.partner }}</td>
                        <td class="th_main_sum_i" data-sort="{{ application.payment_sum }}">{{ application.payment_sum_rub }}</td>


                        <td data-sort="{{ application.paid_sum }}">{{ application.paid_sum_rub }}</td>
                        <td class="th_sum_remain_i" data-sort="{{ application.approval_sum }}">
                            <input id="approvalSum-{{ loop.index }}" name="approval_sum" value="{{ application.approval_sum }}" hidden readonly>
                            {{ application.approval_sum_rub }}
                        </td>
                        <td data-sort="{{ application.amount }}">
                            <input id="amount-{{ loop.index }}" name="amount" value="{{ application.amount_rub }}"
                                onchange="paymentApprovalRecalcCards({{ loop.index }}), saveData({{ loop.index }}, '{{ page }}')">
                        </td>



                        <td data-sort="{{ application.payment_due_date }}">{{ application.payment_due_date }}</td>
                        <td class="th_date_create_i" data-sort="{{ application.payment_at }}">{{ application.payment_at }}</td>
                        <td class="th_save_pay_i" data-sort="{% if application.payment_full_agreed_status %}1{% else %}0{% endif %}">
                            <input type="checkbox" id="paymentFullStatus-{{ loop.index }}" name="payment_full_agreed_status" value="{{ loop.index }}" {% if
                                application.payment_full_agreed_status %}checked{% endif %}
                                onchange="saveData({{ loop.index }}, '{{ page }}'), tabColorize({{ loop.index }})">
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    {% endblock %}
</body>