{% extends "layout-main.html" %}
{% block head %}
{{ super() }}


<body id="payment-approval-list_page">

    {% endblock %}
    {% block content %}
    <div class="tpages_top_panel">
        <h1><img src="static/img/h1/payment-approval-list.png"> {{title}}</h1>
<!--        <div class="cards-container">-->
<!--            <div class="card" id="card_available_money_alp">-->
<!--                <div class="cards_h1_border">-->
<!--                    <h2 class="card-title" id="card_available_money_value" data-value="{{ available_money }}">{{ available_money }} ₽</h2>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p class="card-cost">ДС доступные к распределению</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card" id="card_account_money_alp">-->
<!--                <div class="cards_h1_border">-->
<!--                    <h2 class="card-title" id="card_account_money_value" data-value="{{ account_money }}">{{ account_money }} ₽</h2>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <p class="card-cost">ДС на счету</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div id="payment-approval__menu">
            <div class="not_form_button"><a href="payment-approval">Согласование платежей</a></div>
            <div class="not_form_button focus_button">Согласованные платежи</div>
            <div class="not_form_button"><a href="payment-paid-list">Оплаченные платежи</a></div>
        </div>
    </div>

    <br>


<!--    <div class="help_info"><img src="static/img/interface/warning.png"> Каждое согласование отображается отдельной строкой</div>-->



    <table id="payment-table" name="payment_table" class="display">
        <thead class="fix_thead">
            <tr>
                <th>№</th>
                <th>СИП/КПЛН</th>
                <th>СТАТЬЯ ЗАТРАТ</th>
                <th>№ ПЛАТЕЖА</th>
                <th>НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                <th>ОПИСАНИЕ</th>
                <th>ОБЪЕКТ</th>
                <th>ОТВЕТСТВЕННЫЙ</th>
                <th>КОНТРАГЕНТ</th>
                <th>ОБЩАЯ СУММА</th>

                <th>СОГЛАСОВАННАЯ СУММА</th>
                <th>ОБЩАЯ ОПЛАТА</th>
                <th>СРОК ОПЛАТЫ</th>
                <th>ДАТА СОЗДАНИЯ</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr id="row-{{ loop.index }}">
                <td data-sort="{{ loop.index }}">{{loop.index}}</td>
                <td data-sort="{{ application.contractor_name }}">{{ application.contractor_name }}</td>
                <td data-sort="{{ application.cost_item_name }}">{{ application.cost_item_name }}</td>
                <td data-sort="{{ application.payment_id }}">{{ application.payment_number }}</td>
                <td data-sort="{{ application.basis_of_payment }}" title="{{ application.basis_of_payment }}">{{ application.basis_of_payment_short }}</td>
                <td data-sort="{{ application.payment_description }}" title="{{ application.payment_description }}">{{ application.payment_description_short }}
                </td>
                <td data-sort="{{ application.object_name }}">{{ application.object_name }}</td>
                <td data-sort="{{ application.last_name }} {{ application.first_name[0] }}.">{{ application.last_name }} {{ application.first_name[0] }}.</td>
                <td data-sort="{{ application.partner }}">{{ application.partner }}</td>
                <td data-sort="{{ application.payment_sum }}">{{ application.payment_sum_rub }}</td>
                <td data-sort="{{ application.approval_sum }}">{{ application.approval_sum_rub }} </td>
                <td data-sort="{{ application.paid_sum_rub }}">{{ application.paid_sum_rub }} </td>
                <td data-sort="{{ application.payment_due_date }}">{{ application.payment_due_date}} </td>
                <td data-sort="{{ application.payment_at }}">{{ application.payment_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</body>