{% extends "layout-main.html" %}
{% block head %}
{{ super() }}



<body id="payment-paid-list_page">

    {% endblock %}
    {% block content %}

    <div class="tpages_top_panel">
        <h1><img src="static/img/h1/payment-paid-list.png"> {{title}}</h1>
        <div class="cards-container">
            <div class="card" id="card_available_money_alp">
                <h2 class="card-title" id="card_available_money_value" data-value="{{ available_money }}">{{ available_money }} ₽</h2>
                <p class="card-cost">ДС доступные к распределению</p>
            </div>
            <div class="card" id="card_account_money_alp">
                <h2 class="card-title" id="card_account_money_value" data-value="{{ account_money }}">{{ account_money }} ₽</h2>
                <p class="card-cost">ДС на счету</p>
            </div>
        </div>


        <div id="payment-approval__menu">
            <div class="not_form_button"><a href="payment-approval">Согласование платежей</a></div>
            <div class="not_form_button"><a href="payment-approval-list">Согласованные платежи</a> </div>
            <div class="not_form_button focus_button">Оплаченные платежи</div>
        </div>
    </div>

    <div class="help_info"><img src="static/img/interface/warning.png"> Отображается сумма всех платежей по одной заявке, а не каждый платёж отдельно</div>




    <table id="payment-table" name="payment_table" class="display">
        <thead>
            <tr>
                <th>№</th>
                <th>СИП/КПЛН</th>
                <th>СТАТЬЯ ЗАТРАТ</th>
                <th>№ ПЛАТЕЖА</th>
                <th>НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                <th>ОПИСАНИЕ</th>
                <th>ОБЪЕКТ</th>
                <th>ОТВЕТСТВЕННЫЙ</th>
                <th>КОНТРАГЕНТ</th>
                <th>ОБЩАЯ СУММА</th>
                <th>СОГЛАСОВАННАЯ СУММА</th>
                <th>ОПЛАЧЕННАЯ СУММА</th>
                <th>СРОК ОПЛАТЫ</th>
                <th>ДАТА СОЗДАНИЯ</th>
                <th>СТАТУС ПОСЛЕДНЕЙ ОПЛАТЫ</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr id="row-{{ loop.index }}">
                <td data-sort="{{ loop.index }}">{{loop.index}}</td>
                <td data-sort="{{ application.contractor_name }}">{{ application.contractor_name }}</td>
                <td data-sort="{{ application.cost_item_name }}">{{ application.cost_item_name }}</td>
                <td data-sort="{{ application.payment_id }}">{{ application.payment_number }}</td>
                <td data-sort="{{ application.basis_of_payment }}" title="{{ application.basis_of_payment }}">{{ application.basis_of_payment_short }}</td>
                <td data-sort="{{ application.payment_description }}" title="{{ application.payment_description }}">{{ application.payment_description_short }}
                </td>
                <td data-sort="{{ application.object_name }}">{{ application.object_name }}</td>
                <td data-sort="{{ application.last_name }} {{ application.first_name[0] }}.">{{ application.last_name }} {{ application.first_name[0] }}.</td>
                <td data-sort="{{ application.partner }}">{{ application.partner }}</td>
                <td data-sort="{{ application.payment_sum }}">{{ application.payment_sum_rub }}</td>
                <td data-sort="{{ application.approval_sum }}">{{ application.approval_sum_rub}} </td>
                <td data-sort="{{ application.paid_sum }}">{{ application.paid_sum_rub}} </td>
                <td data-sort="{{ application.payment_due_date }}">{{ application.payment_due_date }}</td>
                <td data-sort="{{ application.payment_at }}">{{ application.payment_at }}</td>
                <td data-sort="{{ application.status_name }}">{{ application.status_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}
</body>