<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <script src="static/script/numberWithSpaces.js"></script>
    <script src="static/script/paymentApprovalSort.js"></script>
    <title>{{title}}</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            cursor: pointer;
        }
    </style>
    <script src="static/script/paymentApprovalSort.js"></script>


</head>
<body>

    {% if get_flashed_messages(True) %}
    <dialog class="window {{get_flashed_messages(True)[0][0]}}" id="logInfo" open>
        <span>Статус:</span>
        <div class="flash {{get_flashed_messages(True)[0][0]}}">
            {{get_flashed_messages(True)[0][1][0]}}<br>
            {{get_flashed_messages(True)[0][1][1]}}
        </div>
        <button type="button" onclick="window.logInfo.close();">
            Закрыть
        </button>
    </dialog>
    {% else %}
    {% endif %}



    <div class="wrapper">


        <header>
            <div class="header__logo">
                <img src="static/img/logo.png" alt="kpln_logo">
            </div>
            <div id="header_auth__label">{{menu_profile[0].name[0]}} <a href="{{menu_profile[0].url}}">{{menu_profile[0].name[1]}}</a></div>
        </header>

        <main>

            <h1>{{title}}</h1>

            {% for p in menu %}
            <li><a href="{{p.url}}">{{p.name}}</a></li>
            {% endfor %}
            <br>

            <form id="paymentForm3" action="/payment_approval_3" method="POST" style="align-self: flex-start">
                <button type="submit">Submit</button>
                <table id="payment-table" name="payment_table" class="display">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0, 'num')">№ *</th>
                            <th>ВЫБОР *</th>
                            <th onclick="sortTable(2, 'str')">СИП/КПЛН *</th>
                            <th onclick="sortTable(3, 'str')">СТАТЬЯ ЗАТРАТ</th>
                            <th onclick="sortTable(4, 'str')">№ ПЛАТЕЖА</th>
                            <th onclick="sortTable(5, 'str')">НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                            <th onclick="sortTable(6, 'str')">ОПИСАНИЕ</th>
                            <th onclick="sortTable(7, 'str')">ОБЪЕКТ</th>
                            <th onclick="sortTable(8, 'str')">ОТВЕТСТВЕННЫЙ</th>
                            <th onclick="sortTable(9, 'str')">КОНТРАГЕНТ</th>
                            <th onclick="sortTable(10, 'num')">ОБЩАЯ СУММА *</th>
                            <th onclick="sortTable(11, 'num')">ОСТАТОК К ОПЛАТЕ *</th>
                            <th onclick="sortTable(12, 'num')">СОГЛАСОВАННАЯ СУММА *</th>
                            <th onclick="sortTable(13, 'str')">СРОК ОПЛАТЫ</th>
                            <th onclick="sortTable(14, 'str')">СТАТУС</th>
                            <th onclick="sortTable(15, 'str')">ДАТА СОЗДАНИЯ</th>
                            <th onclick="sortTable(16, 'str')">СОХРАНИТЬ ДО ПОЛНОЙ ОПЛАТЫ *</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr>
                            <td>{{loop.index}}</td>
<!--                            <td><input type="checkbox" id="selectedRows" name="selectedRows" value="{{loop.index}}'-***-'{{ application.payment_id }}"></td>-->
                            <td><input type="checkbox" id="selectedRows" name="selectedRows" value="{{loop.index}}"></td>
                            <td>{{ application.contractor_name }}</td>
                            <td>{{ application.cost_item_name }}</td>
<!--                            <td>{{ application.payment_number }}</td>-->
                            <td><input id="payment_number" name="payment_number" value="{{application.payment_id}}" hidden readonly>{{application.payment_number}}</td>
                            <td>{{ application.basis_of_payment }}</td>
                            <td>{{ application.payment_description }}</td>
                            <td>{{ application.object_name }}</td>
                            <td>{{ application.last_name }} {{ application.first_name[0] }}.</td>
                            <td>{{ application.partner }}</td>


                            <td>{{ application.payment_sum }}</td>
                            <td>{{ application.approval_sum}}</td>
                            <td><input type="number" id="amount" name="amount" step="0.01">{{ application.amount }}</td>
<!--                                       value="{{ application.amount }}"></td>-->
                            <td>{{ application.payment_due_date }}</td>
<!--                            <td>{{ application.payment_agreed_status_name }}</td>-->
                            <td>
                                <select id="status_id" name="status_id" >
                                    {% for s in approval_statuses %}
                                    <option {% if application.status_id == s.payment_agreed_status_id %} selected {% endif %}>{{ s.payment_agreed_status_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ application.payment_at }}</td>
                            <td><input type="checkbox" id="payment_full_agreed_status" name="payment_full_agreed_status"
                                       value="{{loop.index}}"
                                       {% if application.payment_full_agreed_status %}checked{% endif %}></td>

                        </tr>
                        {% endfor %}

                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </form>

        </main>

        <footer>
            <div class="footer_company">
                <div class="footer_company__href">
                    <div class="footer_company__href_bitrix24"><a href="https://kpln.bitrix24.ru/">Битрикс24</a></div>
                    <div class="footer_company__href_moodle"><a href="http://moodle/">Учебный центр</a></div>
                </div>
                <div class="footer_company__copyright">Copyright &copy; <div id="yearToday"></div>&nbsp Проектное бюро "Крупный план"</div>
            </div>
        </footer>

    </div>
    <script src="static/script/todayYear.js"></script>
</body>

</html>