{% extends "_layout-main.html" %}
{% block head %}
{{ super() }}

<script src="static/script/paymentPagination.js" defer></script>
<script src="static/script/paymentApprovalSort.js"></script>
<script src="static/script/paymentFilter.js"></script>

<body id="payment-paid-list_page">

    {% endblock %}
    {% block content %}

    <div class="progress-bar">
        <div class="progress" style="width: {{(applications|length/ tab_rows ) * 100}}%"></div>
    </div>

    <div id="sortCol-1" hidden>{{ sort_col['col_1'][0] }}#{{ sort_col['col_1'][1] }}</div>
    <div id="sortCol-1_val" hidden>{{ sort_col['col_1'][2] }}</div>
    <div id="sortCol-2" hidden>{{ sort_col['col_2'][0] }}#{{ sort_col['col_2'][1] }}</div>
    <div id="sortCol-2_val" hidden>{{ sort_col['col_2'][2] }}</div>
    <div id="sortCol-id" hidden>{{ sort_col['col_id'][0] }}#{{ sort_col['col_id'][1] }}</div>
    <div id="sortCol-id_val" hidden>{{ sort_col['col_id'][2] }}</div>

    <div class="tpages_top_panel">
        <h1><img src="static/img/h1/paymentpaidlist.png"> {{title}}</h1>
        <!--        <div class="cards-container">-->
        <!--            <div class="card" id="card_available_money_alp">-->
        <!--                <h2 class="card__title" id="card_available_money_value" data-value="{{ available_money }}">{{ available_money }} ₽</h2>-->
        <!--                <p class="card__cost">ДС доступные к распределению</p>-->
        <!--            </div>-->
        <!--            <div class="card" id="card_account_money_alp">-->
        <!--                <h2 class="card__title" id="card_account_money_value" data-value="{{ account_money }}">{{ account_money }} ₽</h2>-->
        <!--                <p class="card__cost">ДС на счету</p>-->
        <!--            </div>-->
        <!--        </div>-->


        <div id="payment-approval__menu">
            <div class="not_form_button"><a href="payment-approval">Согласование платежей</a></div>
            <div class="not_form_button"><a href="payment-approval-list">Согласованные платежи</a> </div>
            <div class="not_form_button focus_button">Оплаченные платежи</div>
        </div>
    </div>

    <br>

    <!--    <div class="help_info"><img src="static/img/interface/warning.png"> Отображается сумма всех платежей по одной заявке, а не каждый платёж отдельно</div>-->


    <form id="paymentForm" style="align-self: flex-start">
    <div class="tableR">
    <table id="payment-table" name="payment_table" class="display">
        <thead class="fix_thead">
            <tr>
                <th>
                    <div class="arrow_sort" onclick="sortTable(0, 'num')">⇅</div>
                    <div>№</div>
                    <input type="text" id="filter-input-0" oninput="filterTable()">
                </th>
                <th class="th_category">
                    <div class="arrow_sort" onclick="sortTable(1, 'num')">⇅</div>
                    <div>№ ПЛАТЕЖА</div>
                    <input type="text" id="filter-input-1" oninput="filterTable()">
                </th>
                <th class="th_category">
                    <div class="arrow_sort" onclick="sortTable(2, 'str')">⇅</div>
                    <div>СТАТЬЯ ЗАТРАТ</div>
                    <input type="text" id="filter-input-2" oninput="filterTable()">
                </th>
                <th class="th_name">
                    <div class="arrow_sort" onclick="sortTable(3, 'str')">⇅</div>
                    <div>НАИМЕНОВАНИЕ ПЛАТЕЖА</div>
                    <input type="text" id="filter-input-3" oninput="filterTable()">
                </th>
                <th class="th_description">
                    <div class="arrow_sort" onclick="sortTable(4, 'str')">⇅</div>
                    <div>ОПИСАНИЕ</div>
                    <input type="text" id="filter-input-4" oninput="filterTable()">
                </th>
                <th class="th_object">
                    <div class="arrow_sort" onclick="sortTable(5, 'str')">⇅</div>
                    <div>ОБЪЕКТ</div>
                    <input type="text" id="filter-input-5" oninput="filterTable()">
                </th>
                <th class="th_responsible">
                    <div class="arrow_sort" onclick="sortTable(6, 'str')">⇅</div>
                    <div>ОТВЕТСТВЕННЫЙ</div>
                    <input type="text" id="filter-input-6" oninput="filterTable()">
                </th>
                <th class="th_contractor">
                    <div class="arrow_sort" onclick="sortTable(7, 'str')">⇅</div>
                    <div>КОНТРАГЕНТ</div>
                    <input type="text" id="filter-input-7" oninput="filterTable()">
                </th>
                <th class="th_main_sum">
                    <div class="arrow_sort" onclick="sortTable(8, 'num')">⇅</div>
                    <div>ОБЩАЯ СУММА</div>
                    <input type="text" id="filter-input-8" oninput="filterTable()">
                </th>
                <th class="th_sum_agreed">
                    <div class="arrow_sort" onclick="sortTable(9, 'num')">⇅</div>
                    <div>СОГЛАСОВАННАЯ СУММА</div>
                    <input type="text" id="filter-input-9" oninput="filterTable()">
                </th>
                <th class="th_sum_paid">
                    <div class="arrow_sort" onclick="sortTable(10, 'num')">⇅</div>
                    <div>ОПЛАЧЕННАЯ СУММА</div>
                    <input type="text" id="filter-input-10" oninput="filterTable()">
                </th>
                <th class="th_pay_date">
                    <div class="arrow_sort" onclick="sortTable(11, 'str')">⇅</div>
                    <div>СРОК ОПЛАТЫ</div>
                    <input type="text" id="filter-input-11" oninput="filterTable()">
                </th>
                <th class="th_date_create">
                    <div class="arrow_sort" onclick="sortTable(12, 'str')">⇅</div>
                    <div>ДАТА СОЗДАНИЯ</div>
                    <input type="text" id="filter-input-12" oninput="filterTable()">
                </th>
                <th>
                    <div class="arrow_sort" onclick="sortTable(13, 'str')">⇅</div>
                    <div>СТАТУС ПОСЛЕДНЕЙ ОПЛАТЫ</div>
                    <input type="text" id="filter-input-13" oninput="filterTable()">
                </th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr id="row-{{ loop.index }}" data-sort="{{ loop.index }}">
                <td data-sort="{{ loop.index }}">{{loop.index}}</td>
                <td data-sort="{{ application.payment_id }}">
                    {{ application.payment_number }}
                </td>
                <td class="th_category_i" data-sort="{{ application.cost_item_name }}">
                    {{ application.cost_item_name }}
                </td>
                <td data-sort="{{ application.basis_of_payment }}" title="{{ application.basis_of_payment }}">
                    {{ application.basis_of_payment_short }}
                </td>
                <td class="th_description_i" data-sort="{{ application.basis_of_payment }}: {{ application.basis_of_payment }}" title="{{ application.payment_description }}">
                    <span class="paymentFormBold">{{ application.contractor_name }}: </span>
                    {{ application.payment_description_short }}</td>
                <td class="th_object_i" data-sort="{{ application.object_name }}">{{ application.object_name }}</td>
                <td class="th_responsible_i" data-sort="{{ application.last_name }} {{ application.first_name[0] }}">{{ application.last_name }} {{ application.first_name[0] }}.</td>
                <td class="th_contractor_i" data-sort="{{ application.partner }}">{{ application.partner }}</td>
                <td class="th_main_sum_i" data-sort="{{ application.payment_sum }}">{{ application.payment_sum_rub }}</td>
                <td data-sort="{{ application.approval_sum }}">{{ application.approval_sum_rub }} </td>
                <td class="th_sum_remain_i" data-sort="{{ application.paid_sum }}">{{ application.paid_sum_rub}} </td>
                <td class="th_pay_date_i" data-sort="{{ application.payment_due_date }}">{{ application.payment_due_date }}</td>
                <td data-sort="{{ application.payment_at }}">{{ application.payment_at }}</td>
                <td data-sort="{{ application.status_name }}">{{ application.status_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </form>

    {% endblock %}
</body>