<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style/style.css">
    <script src="static/script/numberWithSpaces.js"></script>
    <script src="static/script/paymentApprovalSort.js"></script>
    <title>{{title}}</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        th {
            cursor: pointer;
        }
    </style>
    <script src="static/script/paymentApprovalSort.js"></script>


</head>
<body>
    <div class="wrapper">


        <header>
            <div class="header__logo">
                <img src="static/img/logo.png" alt="kpln_logo">
            </div>
            <div id="header_auth__label">{{menu_profile[0].name[0]}} <a href="{{menu_profile[0].url}}">{{menu_profile[0].name[1]}}</a></div>
        </header>

        <main>

            <h1>{{title}}</h1>

            {% for p in menu %}
            <li><a href="{{p.url}}">{{p.name}}</a></li>
            {% endfor %}
            <br>

            <form id="paymentForm3" action="/payment_approval_3" method="POST">
                <button type="submit">Submit</button>
                <table id="payment-table" class="display">
                    <thead>
                        <tr>
                            <th>ВЫБОР *</th>
                            <th onclick="sortTable(1)">СИП/КПЛН *</th>
                            <th onclick="sortTable(2)">СТАТЬЯ ЗАТРАТ</th>
                            <th onclick="sortTable(3)">№ ПЛАТЕЖА</th>
                            <th onclick="sortTable(4)">НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                            <th onclick="sortTable(5)">ОПИСАНИЕ</th>
                            <th onclick="sortTable(6)">ОБЪЕКТ</th>
                            <th onclick="sortTable(7)">ОТВЕТСТВЕННЫЙ</th>
                            <th onclick="sortTable(8)">КОНТРАГЕНТ</th>
                            <th onclick="sortTable(9)">ОБЩАЯ СУММА *</th>
                            <th onclick="sortTable(10)">ОСТАТОК К ОПЛАТЕ *</th>
                            <th onclick="sortTable(11)">СОГЛАСОВАННАЯ СУММА *</th>
                            <th onclick="sortTable(12)">СРОК ОПЛАТЫ</th>
                            <th onclick="sortTable(13)">СТАТУС</th>
                            <th onclick="sortTable(14)">ДАТА СОЗДАНИЯ</th>
                            <th onclick="sortTable(15)">СОХРАНИТЬ ДО ПОЛНОЙ ОПЛАТЫ *</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr>
                            <td><input type="checkbox" id="selectedRows" name="selectedRows" value="{{loop.index}}'-***-'{{ application.payment_id }}"></td>
                            <td>{{ application.contractor_name }}</td>
                            <td>{{ application.cost_item_name }}</td>
                            <td>{{ application.payment_number }}</td>
                            <td>{{ application.basis_of_payment }}</td>
                            <td>{{ application.payment_description }}</td>
                            <td>{{ application.object_id }}</td>
                            <td>{{ application.responsible }}</td>
                            <td>{{ application.partner }}</td>


                            <td>{{ application.payment_sum }}</td>
                            <td></td>
                            <td><input type="number" id="amount" name="amount"></td>
                            <td>{{ application.payment_due_date }}</td>
<!--                            <td>{{ application.payment_agreed_status_name }}</td>-->
                            <td>
                                <select>
                                    {% for s in approval_statuses %}
                                    <option {% if application.status_id == s.payment_agreed_status_id %} selected {% endif %}>{{ s.payment_agreed_status_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{ application.payment_at }}</td>
                            <td><input type="checkbox" id="payment_full_agreed_status" name="selectedRows" checked=""></td>

                        </tr>
                        {% endfor %}

                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
            </form>

        </main>

        <footer>
            <div class="footer_company">
                <div class="footer_company__href">
                    <div class="footer_company__href_bitrix24"><a href="https://kpln.bitrix24.ru/">Битрикс24</a></div>
                    <div class="footer_company__href_moodle"><a href="http://moodle/">Учебный центр</a></div>
                </div>
                <div class="footer_company__copyright">Copyright &copy; <div id="yearToday"></div>&nbsp Проектное бюро "Крупный план"</div>
            </div>
        </footer>

    </div>
    <script src="static/script/todayYear.js"></script>
</body>

</html>