{% extends "layout-main.html" %}
{% block head %}
    {{ super() }}
    {% block scripts %}
    <script src="static/script/numberWithSpaces.js"></script>
    <script src="static/script/paymentApprovalSort.js"></script>
    <script src="static/script/paymentApprovalSaveChanges.js"></script>
    <script src="static/script/paymentApprovalRecalcCards.js"></script>
    <script src="static/script/checkFormPaymentApproval.js"></script>
    <style>
        .cards-container {
            display: flex;
            flex-wrap: wrap;
        }
        .card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            width: 300px;
        }
        .card-title {
            color: black;
            font-weight: bold;
            font-size: 250%;
        }
        .card-cost {
            color: grey;
            font-size: 60%;
        }
    </style>
    {% endblock %}
{% endblock %}
{% block content %}

<div class="cards-container">
    <div class="card" id="card_selected_for_approval">
        <h2 class="card-title" id="card_selected_for_approval_value">&nbsp;</h2>
        <p class="card-cost">Выбрано для одобрения</p>
    </div>
    <div class="card" id="card_available_money">
        <h2 class="card-title" id="card_available_money_value" data-value="{{ account_money }}">{{ account_money }} ₽</h2>
        <p class="card-cost">ДС доступные к распределению</p>
    </div>
    <div class="card" id="card_account_money">
        <h2 class="card-title" id="card_account_money_value" data-value="{{ account_money }}">{{ account_money }} ₽</h2>
        <p class="card-cost">ДС на счету</p>
    </div>

</div>



<h1>{{title}}</h1>


<form id="paymentForm3" action="/payment-approval" method="POST" style="align-self: flex-start">
    <button type="submit">Submit</button>
    <table id="payment-table" name="payment_table" class="display">
        <thead>
            <tr>
                <th onclick="sortTable(0, 'num')">№</th>
                <th>ВЫБОР</th>
                <th onclick="sortTable(2, 'str')">СИП/КПЛН</th>
                <th onclick="sortTable(3, 'str')">СТАТЬЯ ЗАТРАТ</th>
                <th onclick="sortTable(4, 'str')">№ ПЛАТЕЖА</th>
                <th onclick="sortTable(5, 'str')">НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                <th onclick="sortTable(6, 'str')">ОПИСАНИЕ</th>
                <th onclick="sortTable(7, 'str')">ОБЪЕКТ</th>
                <th onclick="sortTable(8, 'str')">ОТВЕТСТВЕННЫЙ</th>
                <th onclick="sortTable(9, 'str')">КОНТРАГЕНТ</th>
                <th onclick="sortTable(10, 'num')">ОБЩАЯ СУММА</th>
                <th onclick="sortTable(11, 'num')">СОГЛАСОВАННАЯ СУММА</th>
                <th onclick="sortTable(12, 'num')">СУММА К ОПЛАТЕ</th>
                <th onclick="sortTable(13, 'str')">СРОК ОПЛАТЫ</th>
<!--                <th onclick="sortTable(14, 'str')">СТАТУС</th>-->
                <th onclick="sortTable(14, 'str')">ЗАКРЫТЬ ТОЛЬКО ПОСЛЕ ПОЛНОЙ ОПЛАТЫ</th>
                <th onclick="sortTable(15, 'str')">ДАТА СОЗДАНИЯ</th>
<!--                <th onclick="sortTable(16, 'str')">СОХРАНИТЬ ДО ПОЛНОЙ ОПЛАТЫ</th>-->
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr id="row-{{ loop.index }}">
                <td>{{loop.index}}</td>
                <td><input type="checkbox" id="selectedRows-{{ loop.index }}" name="selectedRows" value="{{loop.index}}" onchange="paymentApprovalRecalcCards(), selectedApprovalSum({{ loop.index }})"></td>
                <td>{{ application.contractor_name }}</td>
                <td>{{ application.cost_item_name }}</td>
                <td><input id="paymentNumber-{{ loop.index }}" name="payment_number" value="{{application.payment_id}}" hidden readonly>{{application.payment_number}}</td>
                <td>{{ application.basis_of_payment }}</td>
                <td>{{ application.payment_description }}</td>
                <td>{{ application.object_name }}</td>
                <td>{{ application.last_name }} {{ application.first_name[0] }}.</td>
                <td>{{ application.partner }}</td>
                <td>{{ application.payment_sum }}</td>
                <td><input id="approvalSum-{{ loop.index }}" name="approval_sum" value="{{application.approval_sum}}" hidden readonly>{{ application.approval_sum}}</td>
                <td><input type="number" id="amount-{{ loop.index }}" name="amount" step="0.01" value="{{ application.amount }}" onchange="saveData({{ loop.index }}, '{{ page }}')" oninput="paymentApprovalRecalcCards()"></td>
                <td>{{ application.payment_due_date }}</td>
                <td>
                    <input type="checkbox" id="paymentFullStatus-{{ loop.index }}" name="payment_full_agreed_status"
                           value="{{loop.index}}"
                           {% if application.payment_full_agreed_status %}checked{% endif %}
                           onchange="saveData({{ loop.index }}, '{{ page }}')">
                </td>
                <td>{{ application.payment_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

{% endblock %}
