{% extends "layout-main.html" %}
{% block head %}
{{ super() }}

<script src="static/script/numberWithSpaces.js"></script>
<!--    <script src="static/script/paymentApprovalSort.js"></script>-->
<script src="static/script/paymentApprovalSaveChanges.js"></script>
<script src="static/script/paymentApprovalRecalcCards.js"></script>
<script src="static/script/paymentApprovalColorize.js"></script>
<script src="static/script/application_modal.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function getModal() {
        $.ajax({
            url: '/open_modal',
            type: 'GET',
            dataType: 'html'
        }).then(data => {
            $('#myModal.modal-content').html(data);
            $('#myModal').modal('show');
        });
    }
</script>

<script>
    function getModal2() {
        var dataToUpdate = {
            paymentId: 1,
            newPaymentStatus: 'Completed'
          };

        // Send an AJAX request to the Flask route
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/update_payment', true);
        xhr.setRequestHeader('Content-Type', 'application/json');

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // Handle the response here
                var updatedData = JSON.parse(xhr.responseText);

                // Update the window with the new data
                document.getElementById('tst_el2').innerText = updatedData.payment[5];
                console.log(updatedData.payment[5]);
                console.log(updatedData.payment);
            }
        };

        xhr.send(JSON.stringify(dataToUpdate));

};
</script>




<!--<dialog class="window" id="testwind">-->
<!--    <input id="tst_el2"value="" readonly>-->
<!--    <h2 id="tst_el"> </h2>-->

<!--    <h2> {{ available_money }} ₽</h2>-->

<!--    <div style="margin-left: -180px;" class="cards-container">-->
<!--        <form style="background-color: white; box-shadow: none;" action="payment-approval">-->
<!--            <button style="width: 200px; background-color:#4285f4;">Согласование</button>-->
<!--        </form>-->
<!--        <form style="background-color: white; box-shadow: none;" action="payment-approval-list">-->
<!--            <button style="width: 300px">Согласованные платежи</button>-->
<!--        </form>-->
<!--        <form style="background-color: white; box-shadow: none;" action="payment-paid-list">-->
<!--            <button style="width: 300px">Оплаченные платежи</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <button id="cancel" type="reset">Cancel</button>-->

<!--</dialog>-->



<script>
  (function () {
    var cancelButton = document.getElementById("cancel");
    var favDialog = document.getElementById("testwind");


    // Form cancel button closes the dialog box
    cancelButton.addEventListener("click", function () {
      favDialog.close();
    });
  })();
</script>

<div class="exception_table_page">
    {% endblock %}
    {% block content %}
    {% include "application_modal.html" %}

    <h1 >{{title}}</h1>
    <div id="payment-approval-cards-container">
        <div class="card" id="card_selected_for_approval">
            <div class="cards_h1_border">
                <h2 class="card-title" id="card_selected_for_approval_value">&nbsp;</h2>
            </div>
            <div>
                <p class="card-cost">Выбрано для одобрения</p>
            </div>
        </div>
        <div class="card" id="card_available_money">
            <div class="cards_h1_border">
                <h2 class="card-title" id="card_available_money_value" data-value="{{ available_money }}">{{ available_money }} ₽</h2>
            </div>
            <div>
                <p class="card-cost">Доступные к распределению</p>
            </div>
        </div>
        <div class="card" id="card_account_money">
            <div class="cards_h1_border">
                <h2 class="card-title" id="card_account_money_value" data-value="{{ account_money }}">{{ account_money }} ₽</h2>
            </div>
            <div>
                <p class="card-cost">На счету</p>
            </div>
        </div>
    </div>


    <div style="margin-left: -180px;" class="cards-container">
        <form style="background-color: white; box-shadow: none;" action="payment-approval">
            <button style="width: 200px; background-color:#4285f4;">Согласование</button>
        </form>
        <form style="background-color: white; box-shadow: none;" action="payment-approval-list">
            <button style="width: 300px">Согласованные платежи</button>
        </form>
        <form style="background-color: white; box-shadow: none;" action="payment-paid-list">
            <button style="width: 300px">Оплаченные платежи</button>
        </form>
    </div>

    <form id="paymentForm3" action="/payment-approval" method="POST" style="align-self: flex-start">
        <button type="submit">Отправить</button>
        <table id="payment-table" name="payment_table" class="display">
            <thead>
                <tr>
                    <th class="th_num_row">ххх</th>
                    <th class="th_num_row">№</th>
                    <th class="th_select">ВЫБОР</th>
                    <th class="th_company">СИП/КПЛН</th>
                    <th class="th_category">СТАТЬЯ ЗАТРАТ</th>
                    <th class="th_num_pay">№ ПЛАТЕЖА</th>
                    <th class="th_name">НАИМЕНОВАНИЕ ПЛАТЕЖА</th>
                    <th class="th_discription">ОПИСАНИЕ</th>
                    <th class="th_object">ОБЪЕКТ</th>
                    <th class="th_responsible">ОТВЕТСТВЕННЫЙ</th>
                    <th class="th_contractor">КОНТРАГЕНТ</th>
                    <th class="th_main_sum">ОБЩАЯ СУММА</th>
                    <th class="th_sum_remain">ОСТАТОК К ОПЛАТЕ</th>
                    <th class="th_sum_agreed">СОГЛАСОВАННАЯ СУММА</th>
                    <th class="th_pay_date">СРОК ОПЛАТЫ</th>
                    <th class="th_status">СТАТУС</th>
                    <th class="th_date_create">ДАТА СОЗДАНИЯ</th>
                    <th class="th_save_pay">СОХРАНИТЬ ДО ПОЛНОЙ ОПЛАТЫ</th>
                    <!--                <th onclick="sortTable2()">№</th>-->
                    <!--                <th onclick="sortTable2()">ВЫБОР</th>-->
                    <!--                <th onclick="sortTable2()">СИП/КПЛН</th>-->
                    <!--                <th onclick="sortTable2()">СТАТЬЯ ЗАТРАТ</th>-->
                    <!--                <th onclick="sortTable2()">№ ПЛАТЕЖА</th>-->
                    <!--                <th onclick="sortTable2()">НАИМЕНОВАНИЕ ПЛАТЕЖА</th>-->
                    <!--                <th onclick="sortTable2()">ОПИСАНИЕ</th>-->
                    <!--                <th onclick="sortTable2()">ОБЪЕКТ</th>-->
                    <!--                <th onclick="sortTable2()">ОТВЕТСТВЕННЫЙ</th>-->
                    <!--                <th onclick="sortTable2()">КОНТРАГЕНТ</th>-->
                    <!--                <th onclick="sortTable2()">ОБЩАЯ СУММА</th>-->
                    <!--                <th onclick="sortTable2()">ОСТАТОК К ОПЛАТЕ</th>-->
                    <!--                <th onclick="sortTable2()">СОГЛАСОВАННАЯ СУММА</th>-->
                    <!--                <th onclick="sortTable2()">СРОК ОПЛАТЫ</th>-->
                    <!--                <th onclick="sortTable2()">СТАТУС</th>-->
                    <!--                <th onclick="sortTable2()">ДАТА СОЗДАНИЯ</th>-->
                    <!--                <th onclick="sortTable2()">СОХРАНИТЬ ДО ПОЛНОЙ ОПЛАТЫ</th>-->
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr id="row-{{ loop.index }}">
                    <td><a href="/get_modal_payment/{{ application.payment_id }}">View Details</a></td>
                    <td class="th_num_row_i" data-sort="{{ loop.index }}" onclick="window['testwind'].showModal()">{{loop.index}}</td>
                    <td class="th_select_i" data-sort={{ loop.index }}>
                        <input type="checkbox" id="selectedRows-{{ loop.index }}" name="selectedRows" value="{{loop.index}}"
                            onchange="paymentApprovalRecalcCards({{ loop.index }})">
                    </td>
                    <td class="th_company_i" data-sort="{{application.contractor_id}}" onclick="window['testwind'].showModal(), getModal2()">{{ application.contractor_name }}</td>
                    <td class="th_category_i" data-sort="{{application.cost_item_name}}" onclick="window['testwind'].showModal()">{{ application.cost_item_name }}</td>
                    <td class="th_num_pay_i" data-sort="{{application.payment_id}}" data-toggle="modal" data-target="#editModal" data-id="{{ request[0] }}" onclick="window['testwind'].showModal()">
                        <input id="paymentNumber-{{ loop.index }}" name="payment_number" value="{{application.payment_id}}" hidden readonly>
                        {{application.payment_number}}
                    </td>
                    <td class="th_name_i" data-sort="{{application.basis_of_payment}}" title="{{ application.basis_of_payment }}" onclick="window['testwind'].showModal()">{{
                        application.basis_of_payment_short }}</td>
                    <td class="th_discription_i" data-sort="{{application.basis_of_payment}}" title="{{ application.payment_description }}" onclick="window['testwind'].showModal()">{{
                        application.payment_description_short }}</td>
                    <td class="th_object_i" data-sort="{{application.object_name}}" onclick="window['testwind'].showModal()">{{ application.object_name }}</td>
                    <td class="th_responsible_i" onclick="window['testwind'].showModal()">{{ application.last_name }} {{ application.first_name[0] }}.</td>
                    <td class="th_contractor_i" onclick="window['testwind'].showModal()">{{ application.partner }}</td>
                    <td class="th_main_sum_i" onclick="window['testwind'].showModal()">{{ application.payment_sum_rub }}</td>
                    <td class="th_sum_remain_i" onclick="window['testwind'].showModal()">
                        <input id="approvalSum-{{ loop.index }}" name="approval_sum" value="{{application.approval_sum}}" hidden readonly>
                        {{ application.approval_sum_rub}}
                    </td>
                    <td class="th_sum_agreed_i">
                        <input id="amount-{{ loop.index }}" name="amount" value="{{ application.amount_rub }}" data-amount=0
                            onchange="saveData({{ loop.index }}, '{{ page }}')">
                    </td>
                    <td class="th_pay_date_i" onclick="window['testwind'].showModal()">{{ application.payment_due_date }}</td>
                    <td class="th_status_i" id="status-{{ loop.index }}">
                        <select id="status_id-{{ loop.index }}" name="status_id" data-amount="{{ 444 if application.status_id==4 else 33333}}"
                            onchange="paymentApprovalRecalcCards({{ loop.index }}), saveData({{ loop.index }}, '{{ page }}')">
                            {% for s in approval_statuses %}
                            <option {% if application.status_id==s.payment_agreed_status_id %} selected {% endif %}>
                                {{ s.payment_agreed_status_name }}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="th_date_create_i" onclick="window['testwind'].showModal()">{{ application.payment_at }}</td>
                    <td class="th_save_pay_i">
                        <input type="checkbox" id="paymentFullStatus-{{ loop.index }}" name="payment_full_agreed_status" value="{{loop.index}}" {% if
                            application.payment_full_agreed_status %}checked{% endif %}
                            onchange="saveData({{ loop.index }}, '{{ page }}'), tabColorize({{ loop.index }})">
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% endblock %}