<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    {% for p in menu %}
    <li><a href="{{p.url}}">{{p.name}}</a></li>
    {% endfor %}

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}

    <form action="" method="post" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="first_name" value="" required />
    <p><label>Фамилия: </label> <input type="text" name="last_name" value="" required />
    <p><label>Логин: </label> <input type="text" name="email" value="" required />
    <p><label>Пароль: </label> <input type="password" name="password" value="" required />
    <p><label>Роль: </label> <input type="text" name="user_role" value="" required />
    <p><label>Приоритет: </label> <input type="number" step="1" name="user_priority" value="" required />
    <p><input type="submit" value="Зарегистрировать" />
    <hr align=left width="300px">
    <p><a href="">Авторизация</a>
    </form>

</body>
</html>